.alert {
  position: relative;
  background: #d32f2e;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #dbd6d6;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  max-height: 0px;
  opacity: 0;
  .error-icon {
    margin: 10px;
    color: #dbd6d6 !important;
  }
  .content {
    max-width: calc(100% - 105px);
  }
  .close-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
    color: #dbd6d6 !important;
  }
}

.alert.show-alert {
  animation-name: showalert;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.hide-alert {
  animation-name: hidealert;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes showalert {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 200px;
  }
}

@keyframes hidealert {
  from {
    opacity: 1;
    max-height: 200px;
  }

  to {
    opacity: 0;
    max-height: 0;
  }
}
