@import "./common.scss";

.bar {
  position: fixed;
  background: $darker;
  color: $yellow;
  // width: calc(100vw - #{$sideMenuWidth});
  width: 100%;
  height: $barHeight;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  z-index: 1;
  .title {
    font-size: 25px;
    font-weight: bold;
    margin: 25px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  .search {
    margin: 20px;
    background: #515151;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    .field {
      margin-left: 5px;
      margin-right: 10px;
      background: transparent;
      border: 0;
      color: $yellow;
      width: 400px;
    }
  }
  .sport-icon {
    min-width: 20px;
    min-height: 20px;
    width: 35px;
    height: 35px;
    fill: #bfbfbf !important;
    margin: 10px;
    cursor: pointer;
  }
  .right {
    position: absolute;
    right: 20px;
  }
}

.unauthorized-bar {
  background: $darker;
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .title {
    font-size: 25px;
    font-weight: bold;
    color: $yellow;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  .content {
    color: $textColor;
  }
}
