$darker: #222222;
$dark: #393939;
$light: #393939;
$lighter: #515151;
$yellow: #fab71e;
$textColor: #bfbfbf;
$niceFontFamily: "Muli", sans-serif;
$sideMenuWidth: 400px;
$barHeight: 60px;
$tableWidth: 925px;

.button {
  font-size: 17px;
  background: #393939;
  color: #bfbfbf;
  border: 0;
  margin: 5px;
  padding: 5px;
  font-family: $niceFontFamily;
  cursor: pointer;
  &:hover {
    background: #515151;
  }

  &.nice {
    border-radius: 5px;
    padding: 10px;
  }

  &.primary {
    background: $yellow;
    color: $darker;
    font-weight: bold;
  }
}

.button-basic {
  font-size: 17px;
  background: none;
  color: #bfbfbf !important;
  border: 0;
  margin: 5px;
  padding: 5px;
  font-family: $niceFontFamily;
  cursor: pointer;
  &:hover {
    color: $yellow !important;
  }

  .icon {
    color: #bfbfbf !important;
    &:hover {
      color: $yellow !important;
    }
  }
}

.link {
  color: $yellow;
}

.input-with-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: $lighter;

  // border: 1px solid $light;
  border-radius: 3px;
  padding: 10px;
  .icon {
    color: $textColor !important;
  }
  .input-field {
    color: $textColor;
    width: 100%;
    background: none;
    border: 0;
    font-size: 17px;
    padding: 5px;
  }
}

.input {
  background: $lighter;
  border: 1px solid $light;
  border-radius: 3px;
  color: $textColor;
  padding: 5px;
  font-size: 17px;
}
