@import "./common.scss";

.details {
  position: fixed;
  // right: calc((100% - #{$tableWidth}) / 2 - 300px);
  right: 10px;
  margin: 20px;
  background: $darker;
  height: 400px;
  width: 600px;
  // max-width: calc(100vw - #{$tableWidth} - 10px) !important;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  font-family: $niceFontFamily;
  color: $yellow;
}
