@import "./common.scss";
@import "./bar.scss";
@import "./details.scss";
@import "./main.scss";
@import "./menu.scss";
@import "./unauthorized.scss";
@import "./table.scss";
@import "./alert.scss";

body {
  margin: 0;
  background: $light;
  outline: none;
  //   outline-color: rgb(255, 68, 0) !important;
}

*:focus {
    outline: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $lighter inset !important;
    box-shadow: 0 0 0 30px $lighter inset !important;
}
input:-webkit-autofill {
    -webkit-text-fill-color: $textColor !important;
}

.MuiSvgIcon-root-20 {
  color: $yellow;
}

.MuiCheckbox-colorSecondary-6.MuiCheckbox-checked-2 {
  color: $yellow !important;
}
