@import "./common.scss";

.forks-container {
  padding-top: $barHeight + 20px;
  display: flex;
  flex-direction: row;
}

.lock-scroll {
  overflow: hidden;
}

@media (max-width: 1620px) {
  .table-container {
    margin-top: 450px;
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .details {
    position: absolute;
    left: calc(50% - 300px);
  }
}
