@import "./common.scss";

.menu {
  display: block;
  height: 100vh;
  min-width: $sideMenuWidth;
  width: $sideMenuWidth;
  background: $darker;
  position: fixed;
  z-index: 3;
  margin-left: -$sideMenuWidth;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: $niceFontFamily;
    font-size: 25px;
    font-weight: bold;
    color: $yellow;
  }
  .actions {
    display: flex;
    flex-direction: column;
    margin: 10px;
    .filters {
      margin-top: 15px;
      .title {
        // margin: 10px;
        // color: $yellow;
        // font-size: 20px;
        // text-align: center;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .content {
        background: $dark;
        height: 300px;
        color: $yellow;
        margin: 5px;
        display: none;
        .list-element {
          padding: 5px;
          // text-align: center;
          font-size: 17px;
          border-bottom: 2px solid $darker;
          cursor: pointer;
          .list-element-content {
            margin-left: 120px;
          }
          &:hover {
            background: $lighter;
          }
          &.last {
            border-bottom: 0;
          }
        }
      }
      .show-content {
        display: block;
        animation-name: showcontent;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
      }
      .hide-content {
        display: block;
        animation-name: hidecontent;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
      }
    }
  }
}

.side-menu-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
  cursor: pointer;
  display: none;
}

.show-background {
  display: block;
  animation-name: showbackground;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.hide-background {
  display: block;
  animation-name: hidebackground;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  cursor: default;
}

.open-menu {
  animation-name: openmenu;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.close-menu {
  animation-name: closemenu;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes showcontent {
  from {
    height: 0px;
  }

  to {
    height: 300px;
  }
}

@keyframes hidecontent {
  from {
    height: 300px;
  }

  to {
    height: 0px;
  }
}

@keyframes showbackground {
  from {
    background: rgba(0, 0, 0, 0);
  }

  to {
    background: rgba(0, 0, 0, 0.5);
  }
}

@keyframes hidebackground {
  from {
    background: rgba(0, 0, 0, 0.5);
  }

  99%{
    opacity : 0;
    height : 100vh;
  }
  100%{
    background: rgba(0, 0, 0, 0);
    height : 0;
  }
}

@keyframes closemenu {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: -$sideMenuWidth;
  }
}

@keyframes openmenu {
  from {
    margin-left: -$sideMenuWidth;
  }

  to {
    margin-left: 0;
  }
}
