@import './common.scss';

$profitWidth: 45px;
$eventWidth: 300px;
$bookiesWidth: 85px;
$outcomeWidth: 95px;
$coefficientsWidth: 105px;
$timeWidth: 75px;

.standart-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.table {
  width: $tableWidth;
  display: inline-block;
  margin: 20px;
  .head {
    background: $darker;
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-bottom: 2px;
    color: $yellow;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px;
    padding-top: 20px;
    .icon-profit-head {
      width: $profitWidth;
      margin: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .event-head {
      width: $eventWidth;
      margin: 20px;
      display: flex;
      align-items: center;
    }
    .bookies-head {
      @extend .standart-column;
      width: $bookiesWidth;
    }
    .outcome-head {
      @extend .standart-column;
      width: $outcomeWidth;
    }
    .coefficients-head {
      @extend .standart-column;
      width: $coefficientsWidth;
    }
    .time-head {
      @extend .standart-column;
      width: $timeWidth;
    }
  }
  .row {
    cursor: pointer;
    background: $darker;
    display: flex;
    flex-direction: row;
    height: 80px;
    // margin-bottom: 2px;
    color: $textColor;
    padding-left: 15px;
    padding-right: 15px;
    .icon-profit {
      width: $profitWidth;
      margin: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .icon {
        width: 30px;
        height: 30px;
        padding: 5px;
        margin-right: 11px;
      }
      .profit {
        font-weight: bold;
      }
    }
    .event {
      width: $eventWidth;
      margin: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .name {
        font-size: 15px;
      }
      .league {
        font-size: 13px;
      }
    }
    .bookies {
      width: $bookiesWidth;
      @extend .standart-column;
    }
    .outcome {
      width: $outcomeWidth;
      @extend.standart-column;
    }
    .coefficients {
      width: $coefficientsWidth;
      @extend .standart-column;
    }
    .time {
      width: $timeWidth;
      @extend .standart-column;
    }
    &:hover {
      background: $lighter;
    }
  }
}
