@import "./common.scss";

.unauthorized-container {
  display: block;
  .content {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .form-container {
      .title {
        padding: 15px;
        background: $darker;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        color: $yellow;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 2px;
      }
      .form {
        width: 400px;
        padding: 30px;
        background: $darker;
        .separated {
          margin: 15px;
        }
        .full-width {
          width: calc(100% - 60px);
        }
        .submit-container {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

.login-link {
  margin-top: 2px;
  padding: 10px;
  background: $darker;
  display: flex;
  flex-direction: column;
  align-items: center;
  .info {
    margin: 10px;
    color: $yellow;
    font-size: 18px;
  }
}
